.mySwiper .swiper-pagination {
    position: relative;
    bottom: 0px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    top: 50%;
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    font-size: 15px;
    font-weight: 900;
}

.diningSwiper .swiper-button-next,
.diningSwiper .swiper-button-prev {
    top: 50%;
    background-color: white;
    height: 35px;
    width: 35px;
    color: red;
    border: 4px solid rgb(255, 176, 176);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    ;
}

.diningSwiper .swiper-button-prev {
    left: 5px;
}

.diningSwiper .swiper-button-next {
    right: 5px;
}

#ReactSimpleImageViewer {
    z-index: 100;
}